@charset "UTF-8";


/* ========BASIC======== */
html {
   overflow-y:scroll;
}

body {
   margin:0;
   padding:0;
   line-height:1.6;
   letter-spacing:1px;
   font-family:Verdana, Helvetica, sans-serif;
   font-size:12px;
   color:#333;
   background:#fff;
}


a {
   color:#0089a1;
   text-decoration:none;
}

a:hover {
   color:#0089a1;
   text-decoration:underline;
}

img {
   border:0;
   vertical-align:bottom;
}

h1,h2,h3,h4,h5,h6 {
   margin:0;
}


#top {
   max-width:800px;
   margin:10px auto;
}

#header {
   max-width:780px;
   margin:10px auto;
}

#menu {
   padding-left:10px;
   padding-right:10px;
   background-color:#eef;
}

#topicPath {
   display:inline;/* for IE6 */
   float:left;
}

#contents {
   clear:both;
}

#main {
   padding:20px;
}

#sub {
   float:right;
   width:200px;
   padding:10px;
}

#pageTop {
   clear:both;
}

#footer {
   clear:both;
}


/* ========HEADER CUSTOMIZE======== */
#header h1 {
   margin:0;
   padding:10px;
   font-size:24px;
}

#header h1 a {
   color:#333;
}

#header #pr p {
   margin:0;
   padding:10px;
   font-size:11px;
}


/* ========TOPICPATH CUSTOMIZE======== */
#topicPath {
   width:750px;
   margin:10px;
   padding:5px;
   background:#f1f1f1;
}


/* ========MENU CUSTOMIZE======== */
#menu ul {
   margin:0;
   padding:0;
   border-left:1px solid #fff;
}

#menu li {
   float:left;
   color:#333;
   text-align:center;
   list-style-type:none;
   border-right:1px solid #fff;
}

#menu li a {
   display:block;
   width:155px;
   color:#fff;
   line-height:40px;
   text-decoration:none;
   background:#0089a1;
}

#menu li:first-child a {
   width:154px;
}

#menu li a.active {
   color:#fff;
   text-decoration:none;
   background:#0F98AD;
}

#menu li a:hover {
   color:#fff;
   text-decoration:none;
   background:#0F98AD;
}


/* ========MAIN CONTENTS CUSTOMIZE======== */
#main h2 {
   margin-bottom:5px;
   padding:5px 0;
   font-size:16px;
   border-bottom:3px double #ccc;
}

#main h3 {
   margin-bottom:5px;
   padding:5px;
   font-size:14px;
   border-left:5px solid #0089a1;
   border-bottom:1px dotted #ccc;
}

#main h4 {
   margin-bottom:5px;
   padding:5px;
   font-size:13px;
   color:#fff;
   background:#0089a1;
}

#main h5 {
   margin-bottom:5px;
   font-size:13px;
   border-bottom:1px dotted #ccc;
}

#main h6 {
   margin-bottom:5px;
   font-size:13px;
}


#main p {
   margin:0 0 1em 0;
}

#main dt {
   margin-bottom:3px;
}

#main dd {
   padding:0;
   margin:0 0 0.5em 1em;
   padding:3px;
   background:#eee;
}

/* INFORMATION CUSTOMIZE */
* html body #main dl.information dd div {
   display:inline-block;
}

#main dl.information dt {
   float:left;
   width:10em;
   margin:0;
   padding:0;
}

#main dl.information dd {
   margin:0 0 0.5em 10em;
   padding:0;
   background:transparent;
}

#main table {
   width:100%;
   border-collapse:collapse;
}

#main table th {
   padding:5px;
   font-size:12px;
   text-align:left;
   border:1px solid #aaa;
   background:#f0f7fc;
}

#main table td {
   padding:5px;
   font-size:12px;
   text-align:left;
   border:1px solid #aaa;
}


/* ========SUBCONTENTS CUSTOMIZE======== */
#sub .section {
   margin-bottom:10px;
   border:1px solid #333;
}

#sub h3 {
   padding:5px;
   font-size:13px;
   font-weight:bold;
   color:#fff;
   text-align:center;
   border:1px solid #fff;
   border-bottom:none;
   background:#0089a1;
}

#sub ul {
   overflow:hidden;
   margin:0;
   padding:0;
   background:#eee;
}

#sub li {
   width:198px;
   margin-top:-1px;
   line-height:1.4;
   list-style:none;
   border-top:1px solid #666;
}

#sub li a {
   display:block;
   padding:10px 5px;
}


/* ========PAGETOP CUSTOMIZE========= */
#pageTop {
   padding:20px 0 4px 0;
   text-align:right;
}

#pageTop a {
   padding:5px 5px 5px 17px;
   background:url("../images/bg_pagetop.gif") 7px 50% no-repeat;
   font-size:11px;
   outline:none;
}


/* ========FOOTER CUSTOMIZE======== */
.copyright {
   clear:both;
   padding:10px 0;
   font-style:normal;
   font-size:11px;
   text-align:center;
   border-top:1px solid #333;
   background:#ddd;
}